.container {
    float: left;
    width: 150px;
}

.container::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.cover {
    width: 150px;
    height: 112px;
    float: left;
}

.name {
    display: block;
    float: left;
    width: 150px;
    height: 40px;
    background-color: #f7f7f7;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #020202;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}